nav.fixed-top.navbar.bg-white {
    background-color: #262626 !important;
    color: white !important;
}

.navbar-brand, .navbar a, .navbar button, .navbar i, .navbar-toggler-icon{
    color: white !important;
}

.navbar.nav-item:hover{
    background-color: #424242 !important;
}

.navbar .nav-link:hover {
    background-color: #424242 !important;
}

.navbar.nav-item.active{
    background-color: #424242 !important;
}

.navbar .nav-link.active {
    background-color: #424242 !important;
}
